body{
    margin:0;
    font-family:sans-serif;
    align-content: center;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}